<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                 <div class="carousel-caption">
                    <h1>Nosotros nos encargamos.<br/>
                        La limpieza de tu hogar o tu oficina,<br/>
                        en las mejores manos.
                       </h1>
                    <p>Reserva tu aseo fácil y rápido</p>
                    <p>
                      <a class="btn btn-lg btn-white" href="#" role="button" id="flotar">Reservar Aseo</a>
                      <a class="caption-link" href="#" role="button">¿Como funciona?</a>
                    </p>
                </div>
            </div>
            <div class="header-back one"></div>
        </div>
    </div>
</div>
